body {
    font-family: "Poppins", Arial, sans-serif;
    background: #151111;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 300;
    color: gray;
    background: url(../images/bg_4.jpg) no-repeat fixed;
    background-size: cover;
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    line-height: 1.4;
    color: #fff;
    font-weight: 400;
    font-family: "Josefin Sans", Arial, sans-serif;
}
.text-primary {
    color: #c49b63 !important;
}
.btn-outline-primary {
    color: #78d5ef;
    background-color: transparent;
    background-image: none;
    border-color: #78d5ef;
}
.btn-outline-primary:hover {
    color: #212529;
    background-color: #78d5ef;
    border-color: #78d5ef;
}
.form-control {
    font-weight: 300;
    border: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    height: 58px !important;
    padding-left: 15px;
    padding-right: 15px;
    background: transparent !important;
    color: rgba(255, 255, 255, 0.4) !important;
    font-size: 14px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(120, 213, 239, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(120, 213, 239, 0.5);
}
a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #c49b63; }
a:hover, a:active, a:focus {
    color: #c49b63;
    outline: none !important;
    text-decoration: none !important; }
.icon{
    padding: 5px;
    min-width: 40px;
    position: absolute;
    font-size: 25px;
   right: 0px;
    top: 0px;
}

.marginlr{
    margin-top: 50px;
}
